body {
    background-color: #F1F1F1;
    font-family: Lucida Grande, sans-serif;
    font-size: 16px;
	color: #666;
}

h1, h2, h3 {
	color: black;
}

a {
    color: #08C;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#content {
    background-color: white;
    border: 1px solid #AAAAAA;
    margin: 0 auto;
    width: 980px;
}

#banner {
    background-image: url("images/hero.png");
    background-repeat: no-repeat;
    height: 677px;
    padding-right: 60px;
    text-align: right;
}

#banner h1 {
	font-size: 5rem;
	margin-bottom: 0;
}

#banner h2 {
    color: #666;
	font-size: 1.7rem;
	margin-top: 0;
}

.section {
    background: linear-gradient(rgb(243, 243, 243), white);
    border-top: 1px solid rgb(223, 223, 223);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

table {
    border-collapse: collapse;
    box-sizing: border-box;
	font-size: 14px;
    margin: 30px;
}

th, td {
    border: 1px solid #aaa;
    box-sizing: border-box;
    padding: 20px;
}

thead h1 {
	color: #666;
}

thead td {
    text-align: center;
}

th {
    text-align: left;
}
